In [1]:
library(tidyverse)
options(repr.plot.width=2, repr.plot.height=3)

workdir <- "/media/clint/Data/GitRepo/Statistics/BIOS706/Midterm"
dat_frmgham <- read_csv(file.path(workdir, "frmgham2.csv"))
head(dat_frmgham)

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 2.2.1     ✔ purrr   0.2.4
✔ tibble  1.4.2     ✔ dplyr   0.7.4
✔ tidyr   0.7.2     ✔ stringr 1.2.0
✔ readr   1.1.1     ✔ forcats 0.2.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
Parsed with column specification:
cols(
  .default = col_integer(),
  SYSBP = col_double(),
  DIABP = col_double(),
  BMI = col_double()
)
See spec(...) for full column specifications.

  RANDID SEX TOTCHOL AGE SYSBP DIABP CURSMOKE CIGPDAY BMI   DIABETES ⋯ CVD
1 2448   1   195     39  106.0 70.0  0         0      26.97 0        ⋯ 1
2 2448   1   209     52  121.0 66.0  0         0         NA 0        ⋯ 1
3 6238   2   250     46  121.0 81.0  0         0      28.73 0        ⋯ 0
4 6238   2   260     52  105.0 69.5  0         0      29.43 0        ⋯ 0
5 6238   2   237     58  108.0 66.0  0         0      28.50 0        ⋯ 0
6 9428   1   245     48  127.5 80.0  1        20      25.34 0        ⋯ 0
  HYPERTEN TIMEAP TIMEMI TIMEMIFC TIMECHD TIMESTRK TIMECVD TIMEDTH TIMEHYP
1 0        8766   6438   6438     6438    8766     6438    8766    8766
2 0        8766   6438   6438     6438    8766     6438    8766    8766
3 0        8766   8766   8766     8766    8766     8766    8766    8766
4 0        8766   8766   8766     8766    8766     8766    8766    8766
5 0        8766   8766   8766     8766    8766     8766    8766    8766
6 0        8766   8766   8766     8766    8766     8766    8766    8766

In [12]:
dat <- dat_frmgham
dat$SEX_LAB      <- c("Men", "Women")[dat$SEX]
dat$DIABETES_LAB <- c("Not a diabetic", "Diabetic")[dat$DIABETES + 1]
dat$AGE_LAB      <- cut(dat$AGE, c(30, 40, 50, 65, 70, 80))
dat      <- dat %>% filter(!is.na(HEARTRTE))
dat_prep <- dat
dim(dat_prep)

[1] 11621    42

In [13]:
dat <- dat_prep
dat_per01 <- dat %>% filter(PERIOD == 1)
dat_per02 <- dat %>% filter(PERIOD == 2)

# Count

In [21]:
cat("Period 01\n")
dat <- dat_per01
nrow(dat)
tmp <- table(dat$DIABETES_LAB); print(tmp)

cat("Period 02\n")
dat <- dat_per02
nrow(dat)
tmp <- table(dat$DIABETES_LAB); print(tmp)

Period 01

[1] 4433

      Diabetic Not a diabetic
           121           4312
Period 02

[1] 3929

      Diabetic Not a diabetic
           154           3775

# AGE

In [20]:
cat("Period 01\n")
dat <- dat_per01
cat("- median\n")
tmp <- tapply(dat$AGE, dat$DIABETES_LAB, median); print(tmp)
cat("- Interquartile range\n")
tmp <- tapply(dat$AGE, dat$DIABETES_LAB, IQR); print(tmp)

cat("Period 02\n")
dat <- dat_per02
cat("- median\n")
tmp <- tapply(dat$AGE, dat$DIABETES_LAB, median); print(tmp)
cat("- Interquartile range\n")
tmp <- tapply(dat$AGE, dat$DIABETES_LAB, IQR); print(tmp)

Period 01
- median
      Diabetic Not a diabetic
            56             49
- Interquartile range
      Diabetic Not a diabetic
            12             15
Period 02
- median
      Diabetic Not a diabetic
            60             54
- Interquartile range
      Diabetic Not a diabetic
            13             14

# Gender

In [25]:
cat("Period 01\n")
dat <- dat_per01
tmp <- table(dat$SEX_LAB, dat$DIABETES_LAB); print(tmp)

cat("Period 02\n")
dat <- dat_per02
tmp <- table(dat$SEX_LAB, dat$DIABETES_LAB); print(tmp)

Period 01

        Diabetic Not a diabetic
  Men         59           1884
  Women       62           2428
Period 02

        Diabetic Not a diabetic
  Men         74           1617
  Women       80           2158

# Heart rate