In [30]:
library(tidyverse)
library(effects)

Warning message:
"package 'effects' was built under R version 3.4.4"Loading required package: carData
Warning message:
"package 'carData' was built under R version 3.4.4"lattice theme set by effectsTheme()
See ?effectsTheme for details.

In [36]:
dat <- read_fwf(
"a 28 
a 27 
a 28 
a 23 
a 22 
b 32 
b 30 
b 23 
b 25 
b 21 
b 28 
c 13 
c 16 
c 10 
c 8 
c 22", 
    fwf_positions(
        c(1, 3), end = c(1, 4), 
        col_names = c("grp", "val")))
dat$grp <- factor(dat$grp)
dat

   grp val
1  a   28
2  a   27
3  a   28
4  a   23
5  a   22
6  b   32
7  b   30
8  b   23
9  b   25
10 b   21
11 b   28
12 c   13
13 c   16
14 c   10
15 c    8
16 c   22

In [24]:
summary(dat)

     grp                 val
 Length:16          Min.   : 8.00
 Class :character   1st Qu.:19.75
 Mode  :character   Median :23.00
                    Mean   :22.25
                    3rd Qu.:28.00
                    Max.   :32.00

In [46]:
tapply(dat$val, dat$grp, summary)

$a
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   22.0    23.0    27.0    25.6    28.0    28.0

$b
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   21.0    23.5    26.5    26.5    29.5    32.0

$c
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
    8.0    10.0    13.0    13.8    16.0    22.0

In [38]:
res <- aov(val ~ grp, data = dat)
summary(res)

            Df Sum Sq Mean Sq F value   Pr(>F)
grp          2  521.5  260.75   13.92 0.000587 ***
Residuals   13  243.5   18.73
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

In [39]:
effect("grp", res)

 grp effect
grp
   a    b    c
25.6 26.5 13.8

In [56]:
tmp <- effect("grp", res)
print(tmp$fit[,1])

   1    2    3
25.6 26.5 13.8

pdiff

In [59]:
x <- split(dat$val, dat$grp)
outer(x, x, function(x, y){t.test(x, y)})

Warning message in mean.default(x):
"argument is not numeric or logical: returning NA"

ERROR: Error: is.atomic(x) is not TRUE

In [61]:
t.test(x$a, x$b)$p.value

[1] 0.686274