# ...
http://www.plantsciences.ucdavis.edu/agr205/lectures/2011_lectures/l13_ancova.pdf

In [2]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 2.2.1     ✔ purrr   0.2.4
✔ tibble  1.4.2     ✔ dplyr   0.7.4
✔ tidyr   0.7.2     ✔ stringr 1.2.0
✔ readr   1.1.1     ✔ forcats 0.3.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [3]:
dat_oyster <- read_delim(
"Trt Rep Initial Final
1 1 27.2 32.6
1 2 32.0 36.6
1 3 33.0 37.7
1 4 26.8 31.0
2 1 28.6 33.8
2 2 26.8 31.7
2 3 26.5 30.7
2 4 26.8 30.4
3 1 28.6 35.2
3 2 22.4 29.1
3 3 23.2 28.9
3 4 24.4 30.2
4 1 29.3 35.0
4 2 21.8 27.0
4 3 30.3 36.4
4 4 24.3 30.5
5 1 20.4 24.6
5 2 19.6 23.4
5 3 25.1 30.3
5 4 18.1 21.8", 
delim = " ")

In [4]:
dat_oyster

   Trt Rep Initial Final
1  1   1   27.2    32.6
2  1   2   32.0    36.6
3  1   3   33.0    37.7
4  1   4   26.8    31.0
5  2   1   28.6    33.8
6  2   2   26.8    31.7
7  2   3   26.5    30.7
8  2   4   26.8    30.4
9  3   1   28.6    35.2
10 3   2   22.4    29.1
11 3   3   23.2    28.9
12 3   4   24.4    30.2
13 4   1   29.3    35.0
14 4   2   21.8    27.0
15 4   3   30.3    36.4
16 4   4   24.3    30.5
17 5   1   20.4    24.6
18 5   2   19.6    23.4
19 5   3   25.1    30.3
20 5   4   18.1    21.8

In [15]:
dat <- dat_oyster
dat$Trt <- factor(dat$Trt)

# Unadjusted Mean vs Adjusted Mean

unadjusted mean

In [16]:
mean_unadj <- dat %>% group_by(Trt) %>% summarise(unadjusted_mean = mean(Final))
mean_unadj

  Trt unadjusted_mean
1 1   34.475
2 2   31.650
3 3   30.850
4 4   32.225
5 5   25.025

adjusted mean

In [17]:
res <- aov(Final ~ Trt + Initial , data = dat)
print(coef(res))

(Intercept)        Trt2        Trt3        Trt4        Trt5     Initial
 2.25040039 -0.03581197  1.89921708  1.35157290  0.24445938  1.08317982

In [19]:
n <- length(coef(res))
mean_adj <- tribble(
    ~Trt, ~adjusted_mean,
    "1", coef(res)[1] +                coef(res)[n] * mean(dat$Initial),
    "2", coef(res)[1] + coef(res)[2] + coef(res)[n] * mean(dat$Initial),
    "3", coef(res)[1] + coef(res)[3] + coef(res)[n] * mean(dat$Initial),
    "4", coef(res)[1] + coef(res)[4] + coef(res)[n] * mean(dat$Initial),
    "5", coef(res)[1] + coef(res)[5] + coef(res)[n] * mean(dat$Initial))
mean_adj

  Trt adjusted_mean
1 1   30.15311
2 2   30.11730
3 3   32.05233
4 4   31.50469
5 5   30.39757

In [21]:
tmp <- left_join(mean_unadj, mean_adj, by = "Trt")
tmp

Warning message:
“Column `Trt` joining factor and character vector, coercing into character vector”

  Trt unadjusted_mean adjusted_mean
1 1   34.475          30.15311
2 2   31.650          30.11730
3 3   30.850          32.05233
4 4   32.225          31.50469
5 5   25.025          30.39757

![](Lec07_ANCOVA_adj_mean.bmp)