In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 2.2.1     ✔ purrr   0.2.4
✔ tibble  1.4.2     ✔ dplyr   0.7.4
✔ tidyr   0.7.2     ✔ stringr 1.2.0
✔ readr   1.1.1     ✔ forcats 0.2.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [3]:
f <- formula(y~x1+x2)

In [36]:
test1 <- c("x1")
test2 <- c("x2", "x3")
given <- c("x4", "x5")
response <- "y"

tmp1 <- paste(test1, collapse = "+")
tmp2 <- paste(given, collapse = "+")
tmp  <- paste(tmp1, tmp2, sep = "+")
#paste(response, tmp, sep = "~")
tmp

[1] "x1+x4+x5"

In [ ]:
partial_F <- function(response, test, given, data){
    k <- length(test)
    
    # partial
    tmp <- paste(test, collapse = "+")
    formula_part <- paste(response, tmp, sep = "~")
    model_part <- lm(formula_part, data = data)
    
    # full
    tmp1 <- paste(test1, collapse = "+")
    tmp2 <- paste(given, collapse = "+")
    formula_full  <- paste(tmp1, tmp2, sep = "+")
    model_full <- lm(formula_full, data = data)
    
    # 
    params_full <- get_params(model_full)
    params_part <- get_params(model_part)
    ssr_part <- params_part$SSR
    ssr_full <- params_full$SSR
    mse_full <- params_full$MSE
    mse_df   <- params_full$df_
    # 
    f <- (ssr_full - ssr_part) / k / mse_full
    
    
    return()
}

In [20]:
anova_table <- function(fit){
    
    require("tibble")
    
    y     <- fit$fitted.values + fit$residuals
    SST   <- sum((y - mean(y))^2)
    SSE   <- sum(fit$residuals^2)
    SSR   <- SST - SSE
    F_val <- SSR / SSE

    df_t <- length(y) - 1
    df_e <- fit$df.residual
    df_r <- df_t - df_e
    
    res <- tibble(
        Source = c("Model", "Error", "Total"),
        DF = c(df_r, df_e, df_t),
        Sum_Sq = c(SSR, SSE, SST),
        Mean_Sq = Sum_Sq / DF,
        F_val = c((SSR / df_r) / (SSE / df_e), NA, NA))
    return(res)
}

In [3]:
dat_wh <- tribble(
    ~weight, ~height, ~age,
    64, 57, 8,
    71, 59, 10,
    53, 49, 6,
    67, 62, 11,
    55, 51, 8,
    58, 50, 7,
    77, 55, 10,
    57, 48, 9,
    56, 42, 10,
    51, 42, 6,
    76, 61, 12,
    68, 57, 9
)

In [5]:
fit1 <- lm(weight ~ height, data = dat_wh)

In [6]:
fit2 <- lm(weight ~ factor(height), data = dat_wh)

## Lack of fit in R

https://stats.stackexchange.com/questions/40884/f-test-for-lack-of-fit-using-r

In [7]:
library(alr3)

Loading required package: car

Attaching package: ‘car’

The following object is masked from ‘package:dplyr’:

    recode

The following object is masked from ‘package:purrr’:

    some

In [36]:
fit <- lm(weight ~ height, data = dat_wh)
pureErrorAnova(fit)

             Df Sum Sq   Mean Sq   F value   Pr(>F)
height        1 588.9225 588.92252 57.455856 0.01696307
Residuals    10 299.3275  29.93275        NA         NA
 Lack of fit  8 278.8275  34.85343  3.400335 0.24706769
 Pure Error   2  20.5000  10.25000        NA         NA

In [40]:
fit2 <- lm(weight ~ height + factor(height), data = dat_wh)
anova_table(fit2)

  Source DF Sum_Sq Mean_Sq  F_val
1 Model   9 867.75 96.41667 9.406504
2 Error   2  20.50 10.25000       NA
3 Total  11 888.25 80.75000       NA

In [9]:
dat_sbp <- tribble(
    ~sbp, ~age, ~gender,
    144, 39, 1, 220, 47, 1, 138, 45, 1, 145, 47, 1, 162, 65, 1, 142, 46, 1, 170, 67, 1,
    124, 42, 1, 158, 67, 1, 154, 56, 1, 162, 64, 1, 150, 56, 1, 140, 59, 1, 110, 34, 1,
    128, 42, 1, 130, 48, 1, 135, 45, 1, 114, 17, 1, 116, 20, 1, 124, 19, 1, 136, 36, 1,
    142, 50, 1, 120, 39, 1, 120, 21, 1, 160, 44, 1, 158, 53, 1, 144, 63, 1, 130, 29, 1,
    125, 25, 1, 175, 69, 1, 158, 41, 0, 185, 60, 0, 152, 41, 0, 159, 47, 0, 176, 66, 0,
    156, 47, 0, 184, 68, 0, 138, 43, 0, 172, 68, 0, 168, 57, 0, 176, 65, 0, 164, 57, 0,
    154, 61, 0, 124, 36, 0, 142, 44, 0, 144, 50, 0, 149, 47, 0, 128, 19, 0, 130, 22, 0,
    138, 21, 0, 150, 38, 0, 156, 52, 0, 134, 41, 0, 134, 18, 0, 174, 51, 0, 174, 55, 0,
    158, 65, 0, 144, 33, 0, 139, 23, 0, 180, 70, 0, 165, 56, 0, 172, 62, 0, 160, 51, 0,
    157, 48, 0, 170, 59, 0, 153, 40, 0, 148, 35, 0, 140, 33, 0, 132, 26, 0, 169, 61, 0,
)

In [10]:
dat <- dat_sbp %>% mutate(agegen = age * gender)

In [51]:
fit <- lm(sbp ~ age + gender + agegen, data = dat)

In [13]:
res <- summary(fit)

In [52]:
res$coefficients

            Estimate      Std. Error t value    Pr(>|t|)
(Intercept) 110.038528541  6.8739222 16.0081138 2.054979e-24
age           0.961352615  0.1398024  6.8765100 2.684224e-09
gender      -11.323810403 10.1729806 -1.1131261 2.696920e-01
agegen        0.009517736  0.2107004  0.0451719 9.641067e-01

In [53]:
anova_table(fit)

  Source DF Sum_Sq   Mean_Sq   F_val
1 Model   3 17093.83 5697.9449 33.80191
2 Error  66 11125.54  168.5687       NA
3 Total  69 28219.37  408.9764       NA

In [54]:
anova(fit)

          Df Sum Sq       Mean Sq      F value    Pr(>F)
age        1 1.506893e+04 1.506893e+04 89.3933974 6.818117e-14
gender     1 2.024558e+03 2.024558e+03 12.0102829 9.349456e-04
agegen     1 3.439646e-01 3.439646e-01  0.0020405 9.641067e-01
Residuals 66 1.112554e+04 1.685687e+02         NA           NA

In [22]:
dat_split <- split(dat, dat$gender)

In [48]:
fit <- lm(sbp ~ age + gender + agegen, data = dat)
fit2 <- lm(sbp ~ age + agegen + factor(gender), data = dat)
#fit_male <- lm(sbp ~ age + gender + agegen, data = dat_split$`0`)
#fit_female <- lm(sbp ~ age + gender + agegen, data = dat_split$`1`)

In [49]:
anova_table(fit2)

  Source DF Sum_Sq   Mean_Sq   F_val
1 Model   3 17093.83 5697.9449 33.80191
2 Error  66 11125.54  168.5687       NA
3 Total  69 28219.37  408.9764       NA

In [50]:
anova(fit)

          Df Sum Sq       Mean Sq      F value    Pr(>F)
age        1 1.506893e+04 1.506893e+04 89.3933974 6.818117e-14
gender     1 2.024558e+03 2.024558e+03 12.0102829 9.349456e-04
agegen     1 3.439646e-01 3.439646e-01  0.0020405 9.641067e-01
Residuals 66 1.112554e+04 1.685687e+02         NA           NA

In [44]:
Anova(fit2, type = 3)

ERROR: Error in Anova.III.lm(mod, error, singular.ok = singular.ok, ...): there are aliased coefficients in the model