# Kendal Tau ($\tau$)

- Pearson
- Spearson
- Kendall

<br/>

Period, log10 mortality (lb/person), log10 tobacco

"1930-34", -2.35, -0.26,  
"1935-39", -2.20, -0.03,  
"1940-44", -2.12, 0.30,  
"1945-49", -1.95, 0.37,  
"1950-54", -1.85, 0.40,  
"1955-59", -1.80, 0.50,  
"1960-64", -1.70, 0.55,  
"1965-69", -1.58, 0.55

In [2]:
dat_mort_toba <- data.frame(
    period = c(
        "1930-34",
        "1935-39",
        "1940-44",
        "1945-49",
        "1950-54",
        "1955-59",
        "1960-64",
        "1965-69"),
    mortality = c(-2.35, -2.20, -2.12, -1.95, -1.85, -1.80, -1.70, -1.58),
    tobacco   = c(-0.26, -0.03,  0.30,  0.37,  0.40,  0.50,  0.55,  0.55))
#colnames(dat) <- c("Period", "mortality", "tobacco")
dat_mort_toba

  period  mortality tobacco
1 1930-34 -2.35     -0.26
2 1935-39 -2.20     -0.03
3 1940-44 -2.12      0.30
4 1945-49 -1.95      0.37
5 1950-54 -1.85      0.40
6 1955-59 -1.80      0.50
7 1960-64 -1.70      0.55
8 1965-69 -1.58      0.55

In [4]:
dat <- dat_mort_toba
x <- dat$mortality
y <- dat$tobacco

In [13]:
pair <- apply(combn(1:nrow(dat), 2), 2, 
      function(idx){
          (x[idx[1]] - x[idx[2]]) * (y[idx[1]] - y[idx[2]]) > 0 
}) # end apply

pair_concor <- sum(pair == TRUE)
pair_discor <- sum(pair == FALSE)

cat("",
    "concordant pairs:", pair_concor, "\n", 
    "discordant pairs:", pair_discor)

 concordant pairs: 27
 discordant pairs: 1

In [5]:
choose(n = 8, k = 2)

[1] 28

$$\frac{P-Q}{C_2^n}$$

In [15]:
(pair_concor - pair_discor) / choose(n = 8, k = 2)

[1] 0.9285714

calculate kendal

In [6]:
cor(x, y, method = "kendal")

[1] 0.9819805